{% extends "layouts/bbs.twig" %}

{% block content %}
<h1>Are you sure you want to delete this topic?</h1>
<form action="{% url "bbs/destroy_topic" %}" method="post" accept-charset="utf-8">
    <fieldset>
        <h3>Title</h3>
        ${ topic.title | escape }
    
        <h3>Excerpt</h3>
        ${ topic.description | truncate(500) }

        <p><input type="submit" value="Continue &rarr;" /></p> or <a href="$topic.url">Cancel</a>

        <input type="hidden" name="topic_id" value="$topic.id" id="topic_id" />
    </fieldset>
</form>
{% endblock %}