{% extends "content/post.twig" %}

{% block content %}
<div class="block">
    ${ feathers['photo'].image_link(post, 434) }
    ${ post.caption | read_more }
</div>
<div class="clear"></div>
{% endblock %}
