{% extends "content/post.twig" %}

{% block content %}
{% if post['title'] %}
<h3 class="title">
    <a href="$post.url" rel="bookmark" title="${ "Permanent Link to" | translate } &quot;$post.title&quot;">$post.title</a>
</h3>
{% endif %}
<div class="content">
    ${ post.body | read_more }
</div>
{% endblock %}
