{% extends "content/post.twig" %}

{% block content %}
<div class="block">
    ${ feathers['video'].embed_tag_for(post, 440) }
    <div class="caption">
        ${ post.caption | read_more }
    </div>
</div>
<div class="clear"></div>
{% endblock %}
