{% extends "layout.twig" %}

{% block title %}${ "Manage Milestones" | translate("progress") }{% endblock %}

{% block content %}
            {% if visitor.group.can("add_milestone") %}
            <a href="{% admin "new_milestone" %}" class="button yay right">
                <img src="images/icons/add.png" alt="add" /> ${ "Add milestone" | translate("progress") }
            </a>
            {% endif %}
            <h1>${ "Manage Milestones" | translate("progress") }</h1>
            <table id="manage_milestones" border="0" cellspacing="0" cellpadding="0" class="wide">
                <thead>
                    <tr class="head">
                        <th>${ "Name" | translate("progress") }</th>
                        <th>${ "Description" | translate("progress") }</th>
                        <th>${ "Open Tickets" | translate("progress") }</th>
                        <th>${ "Total Tickets" | translate("progress") }</th>
                        <th>${ "Due" | translate("progress") }</th>
                        ${ trigger.call("manage_milestones_column_header") }
                        <th colspan="2">${ "Controls" | translate }</th>
                    </tr>
                </thead>
                <tbody>
                    {% paginate milestone in 25 milestones as milestones %}
                    <tr id="milestone_$milestone.id" class="milestone {% if loop.last %} last{% endif %}">
                        <td class="main"><a href="$milestone.url">$milestone.name</a></td>
                        <td>${ milestone.description | truncate(50) }</td>
                        <td>${ milestone.open_tickets }</td>
                        <td>${ milestone.ticket_count }</td>
                        <td>{% if milestone.due != "0000-00-00 00:00:00" %}${ milestone.due | strftime }{% else %}<span class="sub">${ "never" | translate }</span>{% endif %}</td>
                        ${ trigger.call("manage_milestones_column", milestone) }
                        {% if milestone.editable and milestone.deletable %}
                        <td class="controls">${ milestone.edit_link('<img src="images/icons/edit.png" alt="edit" />'~ ("edit" | translate)) }</td>
                        <td class="controls">${ milestone.delete_link('<img src="images/icons/delete.png" alt="delete" />'~ ("delete" | translate)) }</td>
                        {% elseif milestone.editable or milestone.deletable %}
                        {% if visitor.group.can("edit_aggregate") %}
                        <td class="controls">${ milestone.edit_link('<img src="images/icons/edit.png" alt="edit" />'~ ("edit" | translate)) }</td>
                        {% endif %}
                        {% if visitor.group.can("delete_aggregate") %}
                        <td class="controls">${ milestone.delete_link('<img src="images/icons/delete.png" alt="delete" />'~ ("delete" | translate)) }</td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr class="last">
                        <td colspan="6" class="center"><span class="sub">${ "(none)" | translate }</span></td>
                    </tr>
                    {% endpaginate %}
                </tbody>
            </table>
            {% if milestones.paginated and milestones.pages > 1 %}
            <br />
            <div class="pagination">
                $milestones.next_link
                $milestones.prev_link
                <span class="pages">${ "Page %d of %d" | translate | format(milestones.page, milestones.pages) }</span>
            </div>
            {% endif %}
{% endblock %}
