{% extends "layouts/extend.twig" %}

{% block crumb %}
<a href="{% url "/extend" %}">Extend</a> &raquo;
<a href="$extension.type.url">${ extension.type.name | pluralize }</a> &raquo;
$extension.name
{% endblock %}

{% block content %}
{% if visitor.id == extension.user.id %}
<div class="big">
    <a href="{% url "new_version/" ~ extension.textID %}" class="colorize">Add New Version</a>
</div>
{% endif %}

{% include "partials/version.twig" %}

{% if ver.notes %}
<h1>Notes</h1>
<ul class="notes">
    {% paginate 25 notes in ver.notes as note %}
    {% include "partials/note.twig" %}
    {% endpaginate %}
</ul>
{% endif %}

{% if visitor.group.can("add_note") %}
<br />
<br />
<h2>Add Note</h2>

<form action="{% url "add_note" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <fieldset>
        <p>
            <label for="body">Message</label>
            <textarea name="body" rows="8" cols="100%"></textarea>
        </p>

        <div id="attachments">
            <label for="attachment">Attachment(s)</label>
            <div class="fields">
                <input type="file" name="attachment[]" /> <a href="javascript:void(0)" onclick="$$('#attachments .fields').append('<br /><input type=\'file\' name=\'attachment[]\' />')">[+]</a>
            </div>
        </div>

        <p><input type="submit" value="Continue &rarr;"></p>

        <input type="hidden" name="version_id" value="$ver.id" id="version_id" />
    </fieldset>
</form>
{% endif %}
{% endblock %}
