{% extends "layout.twig" %}

{% block title %}${ "Manage Forums" | translate("discuss") }{% endblock %}

{% block content %}
            {% if visitor.group.can("add_forum") %}
            <a href="{% admin "new_forum" %}" class="button yay right">
                <img src="images/icons/add.png" alt="add" /> ${ "Add Forum" | translate("discuss") }
            </a>
            {% endif %}
            <h1>${ "Manage Forums" | translate("discuss") }</h1>
            <table border="0" cellspacing="0" cellpadding="0" class="wide">
                <thead>
                    <tr class="head">
                        <th>${ "Name" | translate("discuss") }</th>
                        <th>${ "Description" | translate("discuss") }</th>
                        <th>${ "Topics" | translate("discuss") }</th>
                        <th>${ "Messages" | translate("discuss") }</th>
                        <th>${ "Last Activity" | translate("discuss") }</th>
                        ${ trigger.call("manage_forums_column_header") }
                        <th colspan="2">${ "Controls" | translate }</th>
                    </tr>
                </thead>
                <tbody>
                {% paginate forum in 25 forums as forums %}
                    <tr id="forum_$forum.id" class="forum {% if loop.last %} last{% endif %}">
                        <td class="main"><a href="$forum.url">$forum.name</a></td>
                        <td>${ forum.description | truncate(50) }</td>
                        <td>${ forum.topic_count }</td>
                        <td>${ forum.message_count }</td>
                        <td>{% if forum.last_activity %}${ forum.last_activity | strftime }{% else %}<span class="sub">${ "never" | translate }</span>{% endif %}</td>
                        ${ trigger.call("manage_forums_column", forum) }
                        {% if forum.editable and forum.deletable %}
                        <td class="controls">${ forum.edit_link('<img src="images/icons/edit.png" alt="edit" />'~ ("edit" | translate)) }</td>
                        <td class="controls">${ forum.delete_link('<img src="images/icons/delete.png" alt="delete" />'~ ("delete" | translate)) }</td>
                        {% elseif forum.editable or forum.deletable %}
                        {% if visitor.group.can("edit_aggregate") %}
                        <td class="controls">${ forum.edit_link('<img src="images/icons/edit.png" alt="edit" />'~ ("edit" | translate)) }</td>
                        {% endif %}
                        {% if visitor.group.can("delete_aggregate") %}
                        <td class="controls">${ forum.delete_link('<img src="images/icons/delete.png" alt="delete" />'~ ("delete" | translate)) }</td>
                        {% endif %}
                        {% endif %}
                    </tr>
                {% else %}
                    <tr class="last">
                        <td colspan="6" class="center"><span class="sub">${ "(none)" | translate }</span></td>
                    </tr>
                {% endpaginate %}
                </tbody>
            </table>
            {% if forums.paginated and forums.pages > 1 %}
            <br />
            <div class="pagination">
                $forums.next_link
                $forums.prev_link
                <span class="pages">${ "Page %d of %d" | translate | format(forums.page, forums.pages) }</span>
            </div>
            {% endif %}
{% endblock %}
