{% extends "layouts/discuss.twig" %}

{% block content %}
<h1>Edit Topic</h1>
<form action="{% url "update_topic" %}" method="post" accept-charset="utf-8">
    <p>
        <label for="title">Title</label>
        <input type="text" name="title" value="${ topic.title | escape }" id="title" />
    </p>
    
    <p>
        <label for="description">Description</label>
        <textarea name="description" rows="8" cols="100%">${ topic.description | escape }</textarea>
    </p>

    <p><input type="submit" value="Continue &rarr;"></p>

    <input type="hidden" name="topic_id" value="$topic.id" id="topic_id" />
</form>
{% endblock %}
