{% extends "layouts/discuss.twig" %}

{% block crumb %}<a href="$topic.forum.url">$topic.forum.name</a> &raquo; $topic.title{% endblock %}

{% block content %}
<h1>$topic.title</h1>
<div class="topic-post">
    <div class="details">
        <h3>$topic.user.login</h3>
        <ul>
            <li><strong>Posts:</strong> $topic.user.post_count</li>
            <li><strong>Topic Created:</strong> ${ topic.created_at | relative }</li>
            {% if topic.updated %}
            <li><strong>Topic Updated:</strong> ${ topic.updated_at | relative }</li>
            {% endif %}
        </ul>
        {% if topic.editable or topic.deletable %}
        <ul class="controls">
            {% if topic.editable %}
            <li>$topic.edit_link</li>
            {% endif %}
            {% if topic.deletable %}
            <li>$topic.delete_link</li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="message">
        $topic.description

        {% if topic.attachments %}
        <p>
            <h5>Attachments</h5>
            <ul>
                {% for attachment in topic.attachments %}
                <li>
                    {% if attachment.info.extension == "jpg" or attachment.info.extension == "png" %}
                    <img src="$site.chyrp_url/includes/thumb.php?file=../uploads/$attachment.path&amp;max_width=25" style="vertical-align: middle; border: 1px solid black" alt="attachment" />
                    {% endif %}
                    <a href="${ attachment.path | uploaded }">$attachment.filename</a>
                </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
{% paginate message in 10 topic.messages as messages %}
<div id="message_$message.id" class="post">
    <div class="details">
        <h3>$message.user.login</h3>
        <ul>
            <li><strong>Posts:</strong> $message.user.post_count</li>
            <li><strong>Created:</strong> ${ message.created_at | relative }</li>
            {% if topic.updated %}
            <li><strong>Updated:</strong> ${ message.updated_at | relative }</li>
            {% endif %}
        </ul>
        {% if message.editable or message.deletable %}
        <ul class="controls">
            {% if message.editable %}
            <li>$message.edit_link</li>
            {% endif %}
            {% if message.deletable %}
            <li>$message.delete_link</li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="message">
        $message.body
    </div>
    <div class="clear"></div>
</div>
{% endpaginate %}

${ messages.next_link }
${ messages.prev_link }

<br />
<br />
{% if visitor.group.can("add_message") %}
<form action="{% url "add_message" %}" method="post" accept-charset="utf-8">
    <textarea name="body" rows="8" cols="100%"></textarea>

    <p><input type="submit" value="Continue &rarr;"></p>

    <input type="hidden" name="topic_id" value="$topic.id" id="topic_id" />
</form>
{% endif %}
{% endblock %}
