<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% block title %}$site.name{% if title %} &raquo; BBS &raquo; ${ title | escape }{% endif %}{% endblock %}</title>

        $theme.feeds
        $theme.stylesheets
        $theme.javascripts
${ trigger.call("head") }
    </head>
    <body id="bbs">
{% for type, messages in flash.all | items %}
        {% for message in messages %}
        <div class="${ type | depluralize }">$message</div>
        {% endfor %}
{% endfor %}
        {% block content %}{% endblock %}
    </body>
</html>