{% extends "layouts/progress.twig" %}

{% block content %}
<h1>Edit Revision</h1>
<form action="{% url "update_revision" %}" method="post" accept-charset="utf-8" enctype="mulitpart/form-data">
    <p>
        <label for="body">Body</label>
        <textarea name="body" rows="8" cols="100%">${ revision.body | escape }</textarea>
    </p>
    <p id="attachments">
        <label for="attachment">Attachment(s)</label>
        <input type="file" name="attachment[]" /> <a href="javascript:$$('#attachments').append('<br /><input type=\'file\' name=\'attachment[]\' />')">[+]</a>
    </p>

    <p><input type="submit" value="Continue &rarr;"></p>

    <input type="hidden" name="revision_id" value="$revision.id" id="revision_id" />
</form>
{% endblock %}
