body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
    font-size: 62.5%;
    height: 100%;
    background-color: #111;
}
body {
    background-color: #111;
    color: #eee;
    font: normal 1.25em/1.75em Helvetica, Arial, Verdana, sans-serif;
    padding: 0;
    margin: 0 auto;
    width: 70em;
}

pre {
    font-size: 9px;
}
code {
    font-family: monospace;
}
pre code {
    display: block;
    background: #111;
    color: #fff;
    padding: .5em .75em .35em;
    margin-bottom: 1em;
}

em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

h1,
h2 {
    letter-spacing: -.01em;
}
h1 {
    font-size: 2.6em;
    margin-bottom: .3em;
    border-bottom: .07em solid #1c1c1c;
    color: #fff;
    line-height: 1.25em;
}
h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .4em;
}
h3 {
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: .5em;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .6em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .7em;
}
h6 {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: .8em;
}

ul {
    margin: 0 0 1em 1.75em;
}
ul li {
    list-style-type: square;
}
ol {
    padding-left: 2em;
    margin-bottom: 1em;
}
ol li {
    list-style: decimal;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

form {
    }
    form p {
        clear: both;
    }
    form .fields {
        margin-left: 17em;
    }
    form label {
        float: left;
        background: #0c0c0c;
        width: 15em;
        margin-right: 1em;
        padding: .5em;
        line-height: 1.25em;
    }
    form input[type="text"],
    form input[type="password"],
    form textarea {
        background: #1c1c1c;
        display: inline-block;
        color: #fff;
        border: 0;
        padding: .5em;
        line-height: 1.25em;
    }
    form textarea {
        line-height: 1.4em;
        width: 40em;
    }
    form input:focus,
    form textarea:focus {
        background: #fff;
        color: #1c1c1c;
    }
    form input[type="submit"],
    form input[type="button"] {
        display: block;
        width: 46.7em;
        text-align: left;
        margin: 2em 0 0;
        background: #0c0c0c;
        color: #fff;
        border: 0;
        padding: .3em;
        line-height: 1.25em;
        font-size: 1.5em;
}

p {
    margin-bottom: 1em;
    }
    p a:link,
    p a:visited {
        border-bottom: 1px dotted #333;
    }
    p a:hover {
        border-bottom-style: solid;
}

/* Navigation */
#navigation {
    margin: 0 0 5em;
    padding: 0;
    height: 10.75em;
    }
    #navigation li {
        float: left;
        list-style: none;
        padding: 5em 0 .25em;
        color: #fff;
        position: relative;
        overflow: hidden;
        text-align: center;
        }
        #navigation li a {
            text-decoration: none;
            color: inherit;
        }
        #navigation li h1 {
            border: none;
            font-size: 3.5em;
            font-weight: bold;
            color: inherit;
            display: block;
            text-align: left;
        }
        #navigation li h1 a {
            color: inherit;
    }
    #navigation li.selected,
    #navigation li:hover {
        color: #fff !important;
    }
    #navigation li.selected.first,
    #navigation li.first:hover {
        background: #ff2e99;
    }
    #navigation li.selected.second,
    #navigation li.second:hover {
        background: #ff8a2d;
    }
    #navigation li.selected.third,
    #navigation li.third:hover {
        background: #ffe12a;
    }
    #navigation li.selected.fourth,
    #navigation li.fourth:hover {
        background: #caff2a;
    }
    #navigation li.selected.fifth,
    #navigation li.fifth:hover {
        background: #1fb5ff;
    }
    #navigation li.selected.sixth,
    #navigation li.sixth:hover {
        background: #5931ff;
    }
    #navigation li.selected.seventh,
    #navigation li.seventh:hover {
        background: #b848ff;
    }
    #navigation li.first {
        color: #ff2e99;
        width: 48px;
    }
    #navigation li.second {
        color: #ff8a2d;
        width: 71px;
        }
        #navigation li.second h1 {
            margin-left: -48px;
    }
    #navigation li.third {
        color: #ffe12a;
        width: 61px;
        }
        #navigation li.third h1 {
            margin-left: -119px;
    }
    #navigation li.fourth {
        color: #caff2a;
        width: 66px;
        }
        #navigation li.fourth h1 {
            margin-left: -180px;
    }
    #navigation li.fifth {
        color: #1fb5ff;
        width: 55px;
        }
        #navigation li.fifth h1 {
            margin-left: -246px;
    }
    #navigation li.sixth {
        color: #5931ff;
        width: 44px;
        }
        #navigation li.sixth h1 {
            margin-left: -301px;
    }
    #navigation li.seventh {
        color: #b848ff;
        width: 41px;
        }
        #navigation li.seventh h1 {
            margin-left: -345px;
}

/* Footer */
#footer {
    background: #0c0c0c;
    margin: 5em 0;
    padding: 1em;
    }
    #footer li {
        list-style: none;
    }
    #footer .toogeneric a {
        float: right;
        font-size: 13em;
        position: relative;
        bottom: -.375em;
        color: #222;
        height: 0;
    }
    #footer .toogeneric a:hover {
        color: #fff;
}

/* Content */
#breadcrumb {
    padding: 0 0 0 .75em;
    background: #0c0c0c;
    margin: 0 0 2em;
    color: #777;
    line-height: 2.5em;
    }
    #breadcrumb .right span {
        padding: 0 .75em;
    }
    #breadcrumb .control {
        padding: 0 .75em;
        border-left: .1em solid #111;
        float: right;
    }
    #breadcrumb .control:hover {
        background: #111;
}
#home {
   }
   #home p.blurb {
    font-size: 2em;
    line-height: 1.25em;
}
#discuss {
    }
    #discuss .forum,
    #extend .type {
        height: 12em;
        clear: both;
        }
        #discuss .forum h2,
        #extend .type h2 {
            float: left;
            width: 10em;
            height: 5em;
            padding: .3625em;
        }
        #discuss .forum p,
        #extend .type p {
            background: #0d0d0d;
            padding: .75em;
            display: block;
        }
        #discuss .forum .info,
        #discuss .topic .info,
        #extend .type .info {
            float: left;
            width: 20em;
            }
            #discuss .forum .info h4,
            #discuss .topic .info h4,
            #extend .type .info h4 {
                display: block;
                font-weight: normal;
                font-size: 1em;
                margin: 0 0 .5em;
            }
            #discuss .forum .info .content,
            #discuss .topic .info .content,
            #extend .type .info .content {
                font-size: .9em;
                line-height: 1.4em;
                color: #777;
                word-wrap: break-word;
                margin: 0;
                }
                #discuss .forum .info .content li,
                #discuss .topic .info .content li,
                #extend .type .info .content li {
                    list-style: none;
                    }
                    #discuss .forum .info .content li strong,
                    #discuss .topic .info .content li strong,
                    #extend .type .info .content li strong {
                        font-weight: normal;
                        color: #fff;
    }
    #discuss .topic {
        min-height: 5em;
        margin-bottom: 1em;
        }
        #discuss .topic .title {
            width: 30em;
            margin-right: 1em;
            float: left;
            padding: .3em;
            word-wrap: break-word;
            }
            #discuss .topic .title h2 {
                line-height: 1.125em;
            }
            #discuss .topic .title strong {
                color: #555;
                margin-top: -1em;
                font-weight: normal;
                font-size: .9em;
                display: block;
        }
        #discuss .topic .info {
            width: 18em;
            float: right;
}
#discuss.topic {
    }
    #discuss.topic .topic-post {
        margin: 0 0 3em;
        }
        #discuss.topic .topic-post .message {
            background: #0c0c0c;
        }
        #discuss.topic .topic-post .attachments h5 {
            background: #0a0a0a;
        }
        #discuss.topic .topic-post .attachments ul li {
            border-color: #111;
    }
    #discuss.topic .post {
        margin: 0 0 1em;
    }
    #discuss.topic .details {
        float: left;
        padding: .5em 1em 0 0;
        text-align: right;
        width: 15em;
        background: #111;
        }
        #discuss.topic .details .gravatar-emblem {
            border: .1em solid #0a0a0a;
            vertical-align: middle;
            margin: -.2em .125em 0 0;
        }
        #discuss.topic .details ul {
            margin: 1em 0 0;
            color: #777;
            font-size: .9em;
            text-align: left;
            line-height: 1.25em;
            }
            #discuss.topic .details ul li {
                list-style: none;
                }
                #discuss.topic .details ul li strong {
                    font-weight: normal;
                    color: #fff;

    }
    #discuss.topic .message {
        padding: .5em .8125em;
        margin: 0 0 0 16em;
        width: 52.3em;
}
#progress {
    }
    #progress .milestone {
        margin: 0 0 2em;
        }
        #progress .milestone h2 {
            float: left;
            width: 10em;
            height: 4em;
            padding: .3625em;
        }
        #progress .milestone .info {
            color: #555;
            background: #0d0d0d;
            display: block;
            font-size: 1.25em;
            padding-left: 26em;
            padding: .6em;
            }
            #progress .milestone .info span {
                color: #fff;
            }
            #progress .milestone .info span.bad {
                color: #FF2E99;
        }
        #progress .milestone .description {
            float: left;
            width: 40em;
            margin-bottom: 2em;
        }
        #progress .milestone .progress-bar {
            background: #0c0c0c;
            }
            #progress .milestone .progress-bar div {
                background: #CAFF2A;
                line-height: 1.5em;
                color: #111;
                text-align: right;
                }
                #progress .milestone .progress-bar div span {
                    margin: 0 .3em;
                    font-size: .9em;
    }
    #progress .milestone.current {
        background: #0f0f0f;
    }
    #progress table.tickets {
        width: 100%;
        }
        #progress table.tickets th {
            background: #0c0c0c;
            padding: .25em .75em;
            color: #aaa;
        }
        #progress table.tickets td {
            padding: .25em .75em;
        }
        #progress table.tickets td.main {
            background: #0e0e0e;
            font-size: 1.25em;
            padding: .5em .75em;
            }
            #progress table.tickets td.main .sub {
                display: block;
                font-size: .7em;
            }
            #progress table.tickets td.main .gravatar-emblem {
                margin: -.25em .1em 0 .25em;
        }
        #progress table.tickets td .declined {
            color: #ff2e99;
        }
        #progress table.tickets td .new {
            color: #ff8a2d;
        }
        #progress table.tickets td .open {
            color: #ffe12a;
        }
        #progress table.tickets td .resolved {
            color: #caff2a;
        }
        #progress table.tickets td .invalid {
            color: #1fb5ff;
        }
        #progress table.tickets td .gravatar-emblem {
            border: .1em solid #000;
            vertical-align: middle;
            margin: -.15em .25em 0 0;
    }
    #progress .ticket {
        margin-bottom: 2em;
        }
        #progress .ticket h1 .number {
            margin: -.15em 0 0 0;
            float: left;
            padding: .125em .625em;
            vertical-align: middle;
            font-size: .625em;
            background: #0a0a0a;
            float: right;
        }
        #progress .ticket .user-info {
            float: right;
            width: 64px;
            padding: 1em;
            background: #080808;
            }
            #progress .ticket .user-info span.name {
                font-size: .9em;
                display: block;
                text-align: center;
        }
        #progress .ticket .description {
            background: #0c0c0c;
            padding: 1em;
    }
    #progress .revisions,
    #extend .notes {
        margin: 0;
        }
        #progress .revisions li.revision,
        #extend .notes li.note {
            list-style: none;
            margin-bottom: 2em;
            }
            #progress .revisions li .user,
            #extend .notes li .user {
                background: #0c0c0c;
                padding: .25em .5em;
                }
                #progress .revisions li .user .gravatar-emblem {
                    vertical-align: middle;
                    margin: -.25em .125em 0 0;
            }
            #progress .revisions li .changes {
                margin: 0 0 1em 2em;
                }
                #progress .revisions li .changes li {
                    padding: .25em .5em;
                    list-style: none;
                }
                #progress .revisions li .changes li.odd {
                    background: #0f0f0f;
                    border-bottom: .1em solid #171717;
                }
                #progress .revisions li .changes li.even {
                    background: #131313;
                    border-bottom: .1em solid #171717;
            }
            #progress .revisions li .body,
            #progress .revisions li .attachments,
            #extend .notes li .body,
            #extend .notes li .attachments {
                margin-left: 2em;
}
#extend {
    }
    #extend .type p {
        background: transparent;
    }
    #extend .extension {
        margin-bottom: 3em;
        }
        #extend .extension h1 {
            padding: .5em;
            margin-bottom: .625em;
            font-size: 1.5em;
            margin: 0 0 .666em;
            }
            #extend .extension h1 .version {
                float: right;
                font-family: monospace;
                font-weight: bold;
                margin: 0 .3125em;
            }
            #extend .extension h1 .author {
                line-height: 1em;
                font-size: .75em;
                font-style: italic;
        }
        #extend .extension .content {
            margin-left: 3em;
            }
            #extend .extension .content .info {
                background: #0a0a0a;
                padding: .25em .75em;
                margin: -1em 0 1em;
                color: #555;
                }
                #extend .extension .content .info li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 2em;
                    font-size: .9em;
                    }
                    #extend .extension .content .info li strong {
                        font-weight: normal;
                        color: #fff;
            }
            #extend .extension .content .preview {
                margin: 0 0 1em 1em;
                width: 20em;
                height: 13.3em;
                float: right;
                background-position: center center;
                background-repeat: none;
            }
            #extend .extension .content .buttons {
                margin: 1em 0 0;
                font-size: 1.25em;
                background-color: #0d0d0d;
                font-weight: bold;
                }
                #extend .extension .content .buttons a.button,
                #extend .extension .content .buttons span.tags {
                    width: 16.35em;
                    float: left;
                    padding: .5em .75em;
                    display: block;
                }
                #extend .extension .content .buttons a.button:hover {
                    background-color: #0f0f0f;
}

/* Notification Messages */
.flash {
    margin-bottom: 1em;
    padding: .5em .75em;
    background: #0c0c0c;
    }
    .flash .sub {
        margin-left: .5em;
        opacity: .5;
        font-size: .9em;
    }
    .flash.notice {
        color: #CAFF2A;
    }
    .flash.warning {
        color: #FF2E99;
    }
    .flash.message {
        color: #1FB5FF;
}

/* Attachments List */
.attachments {
    }
    .attachments h5 {
        background: #0c0c0c;
        display: block;
        margin: 0;
        padding: .125em .5em;
        font-weight: normal;
    }
    .attachments ul {
        margin: .5em 0 1em 1em;
        }
        .attachments ul li {
            list-style: none;
            line-height: 2em;
            border-bottom: .1em solid #161616;
            }
            .attachments ul li a:hover {
                text-decoration: underline;
            }
            .attachments ul li .thumbnail {
                vertical-align: middle;
                border: .1em solid #000;
                margin: -.25em .25em 0 0;
}
form #attachments {
    min-height: 2.15em;
    margin: 0 0 1em;
}

/* Controls Bar */
div#controls {
    background-color: #131313;
    border-bottom: .1em solid #0f0f0f;
    padding: .2em 0 .3em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
div#controls ul {
    margin: 0 auto;
    padding: .4em;
    width: 660px;
}
div#controls ul li {
    background: none;
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div#controls ul li a:link,
div#controls ul li a:visited {
    color: #bbb;
    border: none;
    padding: .1em .6em;
}
div#controls ul li a:hover {
    color: #fff;
}
div#controls ul li.close a:link,
div#controls ul li.close a:visited {
    color: #e35533;
}
div#controls ul li.close a:hover {
    color: #ff6039;
}

/* Debugger */
#debug {
    background: #0c0c0c;
    color: #555;
    padding: 0 .75em .5em .75em;
    border-top: .1em solid #000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .9em;
}
#debug h5 {
    margin: 0;
    color: #555;
}
#debug h5 .sub {
    color: #333;
}
#debug ol.queries li {
    margin: 0 0 1em;
}
#debug pre {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 .5em;
    word-wrap: break-word;
}
#debug .toggle {
    font-weight: bold;
    color: #666;
    float: right;
}

/* Miscellaneous */
.sub {
    font-size: 11px;
    line-height: 11px;
    color: #777;
    font-weight: normal;
    }
    .sub strong {
        color: #fff;
        font-weight: normal;
}
.big {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    }
    .big a {
        padding: .35em .5em;
        background: #0a0a0a;
        display: block;
    }
    .big a:hover {
        background: #0d0d0d;
    }
    .big ul li {
        list-style: none;
}
.clear { clear: both }
.left  { float: left }
.right { float: right }
td.center { text-align: center }
.edit_link {
    color: #1fb5ff !important;
}
.delete_link {
    color: #ff2e99 !important;
}
