body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background-color: #111;
    color: #eee;
    font: normal 1.25em/1.75em Helvetica, Arial, Verdana, sans-serif;
    padding: 0;
    margin: 0 auto;
    width: 70em;
}

pre {
    font-size: 9px;
}
code {
    font-family: monospace;
}
pre code {
    display: block;
    background: #111;
    color: #fff;
    padding: .5em .75em .35em;
    margin-bottom: 1em;
}

em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

h1,
h2 {
    letter-spacing: -.01em;
}
h1 {
    /* font-weight: bold; */
    font-size: 2.6em;
    margin-bottom: .3em;
    padding-bottom: .25em;
    border-bottom: .07em solid #1c1c1c;
    color: #fff;
}
h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .4em;
}
h3 {
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: .5em;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .9em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
h6 {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 1.25em;
}

ul {
    margin: 0 0 0 1.75em;
}
ul li {
    list-style-type: square;
}
ol {
    padding-left: 2em;
    margin-bottom: 1em;
}
ol li {
    list-style: decimal;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

form {
    }
    form p {
        clear: both;
    }
    form label {
        /* font-weight: bold; */
        float: left;
        background: #0c0c0c;
        width: 15em;
        margin-right: 1em;
        padding: 0 .5em;
        line-height: 2.25em;
    }
    form input,
    form textarea {
        background: #1c1c1c;
        display: inline-block;
        color: #fff;
        border: 0;
        padding: .5em;
        line-height: 1.25em;
    }
    form textarea {
        line-height: 1.4em;
    }
    form input:focus {
        background: #fff;
        color: #1c1c1c;
}

p {
    margin-bottom: 1em;
    }
    p a:link,
    p a:visited {
        border-bottom: 1px dotted #333;
    }
    p a:hover {
        border-bottom-style: solid;
}

/* Navigation */
#navigation {
    margin: 0 0 5em;
    padding: 0;
    height: 10.75em;
    }
    #navigation li {
        float: left;
        list-style: none;
        padding: 5em 0 .25em;
        color: #fff;
        position: relative;
        overflow: hidden;
        text-align: center;
        }
        #navigation li a {
            text-decoration: none;
            color: inherit;
        }
        #navigation li h1 {
            border: none;
            font-size: 3.5em;
            font-weight: bold;
            color: inherit;
            display: block;
            text-align: left;
        }
        #navigation li h1 a {
            color: inherit;
    }
    /* #navigation li.selected, */
    /* #navigation li:hover { */
        /* color: #fff !important; */
    /* } */
    /* #navigation li.selected.first, */
    /* #navigation li.first:hover { */
        /* background: #ff2e99; */
    /* } */
    /* #navigation li.selected.second, */
    /* #navigation li.second:hover { */
        /* background: #ff8a2d; */
    /* } */
    /* #navigation li.selected.third, */
    /* #navigation li.third:hover { */
        /* background: #ffe12a; */
    /* } */
    /* #navigation li.selected.fourth, */
    /* #navigation li.fourth:hover { */
        /* background: #caff2a; */
    /* } */
    /* #navigation li.selected.fifth, */
    /* #navigation li.fifth:hover { */
        /* background: #1fb5ff; */
    /* } */
    /* #navigation li.selected.sixth, */
    /* #navigation li.sixth:hover { */
        /* background: #5931ff; */
    /* } */
    /* #navigation li.selected.seventh, */
    /* #navigation li.seventh:hover { */
        /* background: #b848ff; */
    /* } */
    #navigation li.first {
        color: #ff2e99;
        width: 48px;
    }
    #navigation li.second {
        color: #ff8a2d;
        width: 71px;
        }
        #navigation li.second h1 {
            margin-left: -48px;
    }
    #navigation li.third {
        color: #ffe12a;
        width: 61px;
        }
        #navigation li.third h1 {
            margin-left: -119px;
    }
    #navigation li.fourth {
        color: #caff2a;
        width: 66px;
        }
        #navigation li.fourth h1 {
            margin-left: -180px;
    }
    #navigation li.fifth {
        color: #1fb5ff;
        width: 55px;
        }
        #navigation li.fifth h1 {
            margin-left: -246px;
    }
    #navigation li.sixth {
        color: #5931ff;
        width: 44px;
        }
        #navigation li.sixth h1 {
            margin-left: -301px;
    }
    #navigation li.seventh {
        color: #b848ff;
        width: 41px;
        }
        #navigation li.seventh h1 {
            margin-left: -345px;
}

/* Footer */
#footer {
    background: #0c0c0c;
    margin: 5em 0;
    padding: 1em;
    }
    #footer li {
        list-style: none;
    }
    #footer .toogeneric a {
        float: right;
        font-size: 13em;
        position: relative;
        bottom: -.375em;
        color: #222;
        height: 0;
    }
    #footer .toogeneric a:hover {
        color: #fff;
}

/* Content */
#home {
   }
   #home p.blurb {
    font-size: 2em;
    line-height: 1.25em;
}
#discuss {
    }
    #discuss .forum {
        height: 12em;
        }
        #discuss .forum h2 {
            float: left;
            width: 10em;
            height: 5em;
            padding: .3em;
        }
        #discuss .forum p {
            background: #0d0d0d;
            padding: .75em;
            display: block;
        }
        #discuss .forum .info,
        #discuss .topic .info {
            float: left;
            width: 20em;
            }
            #discuss .forum .info h4,
            #discuss .topic .info h4 {
                display: block;
                font-weight: normal;
                font-size: 1em;
                margin: 0 0 .5em;
            }
            #discuss .forum .info .content,
            #discuss .topic .info .content {
                font-size: .9em;
                line-height: 1.4em;
                color: #777;
                word-wrap: break-word;
                margin: 0;
                }
                #discuss .forum .info .content li,
                #discuss .topic .info .content li {
                    list-style: none;
                    }
                    #discuss .forum .info .content li strong,
                    #discuss .topic .info .content li strong {
                        font-weight: normal;
                        color: #fff;
    }
    #discuss .topics {
        margin: 0;
        }
        #discuss .topic {
            min-height: 5em;
            margin-bottom: 1em;
            }
            #discuss .topic .title {
                width: 30em;
                margin-right: 1em;
                float: left;
                padding: .3em;
                word-wrap: break-word;
                }
                #discuss .topic .title h2 {
                    line-height: 1.125em;
                }
                #discuss .topic .title strong {
                    color: #555;
                    margin-top: -1em;
                    font-weight: normal;
                    font-size: .9em;
                    display: block;
            }
            #discuss .topic .info {
                width: 18em;
                float: right;
}

/* Notification Messages */
.flash {
    margin-bottom: 1em;
    padding: .5em .75em;
}
.flash .sub {
    margin-left: .5em;
    opacity: .5;
    font-size: .9em;
}
.notice {
    background: green;
    color: white;
}
.warning {
    background: red;
    color: white;
}
.message {
    background: blue;
    color: white;
}

/* Controls Bar */
div#controls {
    background-color: #131313;
    border-bottom: .1em solid #0f0f0f;
    padding: .2em 0 .3em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
div#controls ul {
    margin: 0 auto;
    padding: .4em;
    width: 660px;
}
div#controls ul li {
    background: none;
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div#controls ul li a:link,
div#controls ul li a:visited {
    color: #bbb;
    border: none;
    padding: .1em .6em;
}
div#controls ul li a:hover {
    color: #fff;
}
div#controls ul li.close a:link,
div#controls ul li.close a:visited {
    color: #e35533;
}
div#controls ul li.close a:hover {
    color: #ff6039;
}

/* Debugger */
#debug {
    background: #0c0c0c;
    color: #555;
    padding: 0 .75em .5em .75em;
    border-top: .1em solid #000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .9em;
}
#debug h5 {
    margin: 0;
    color: #555;
}
#debug h5 .sub {
    color: #333;
}
#debug ol.queries li {
    margin: 0 0 1em;
}
#debug pre {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 .5em;
    word-wrap: break-word;
}
#debug .toggle {
    font-weight: bold;
    color: #666;
    float: right;
}

/* Miscellaneous */
.sub {
    font-size: .9em;
    color: #777;
}
.clear { clear: both }
