body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background-color: #fff;
    color: #111;
    font: normal 1.25em/1.75em Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 5em;
}

pre {
    font-size: 9px;
}
code {
    font-family: monospace;
}
pre code {
    display: block;
    background: #111;
    color: #fff;
    padding: .5em .75em .35em;
    margin-bottom: 1em;
}

em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

a:link,
a:visited {
    color: blue;
    text-decoration: underline;
}

h1,
h2 {
    letter-spacing: -.01em;
}
h1 {
    font: bold 2.6em "palatino linotype", palatino, georgia, "times new roman", times, serif;
    margin-bottom: .3em
}
h2 {
    font: bold 2em "palatino linotype", palatino, georgia, "times new roman", times, serif;
    margin-bottom: .4em;
}
h3 {
    font: bold 1.75em "palatino linotype", palatino, georgia, "times new roman", times, serif;
    margin-bottom: .5em;
}
h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .9em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
h6 {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 1.25em;
}

ul {
    margin: 0 0 0 1.75em;
}
ul li {
    list-style-type: disc;
}
ol {
    padding-left: 2em;
    margin-bottom: 1em;
}
ol li {
    list-style: decimal;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

label {
    font-weight: bold;
    font-size: 1.125em;
    color: #777;
    display: block;
    margin-top: 1em;
}

p {
    margin-bottom: 1em;
}

.flash {
    margin-bottom: 1em;
    padding: .5em .75em;
}
.flash .sub {
    margin-left: .5em;
    opacity: .5;
    font-size: .9em;
}
.notice {
    background: green;
    color: white;
}
.warning {
    background: red;
    color: white;
}
.message {
    background: blue;
    color: white;
}

div#controls {
    background-color: #131313;
    border-bottom: .1em solid #0f0f0f;
    padding: .2em 0 .3em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
div#controls ul {
    margin: 0 auto;
    padding: .4em;
    width: 660px;
}
div#controls ul li {
    background: none;
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div#controls ul li a:link,
div#controls ul li a:visited {
    color: #bbb;
    border: none;
    padding: .1em .6em;
}
div#controls ul li a:hover {
    color: #fff;
}
div#controls ul li.close a:link,
div#controls ul li.close a:visited {
    color: #e35533;
}
div#controls ul li.close a:hover {
    color: #ff6039;
}

/* Debugger */
#debug {
    background: #ffffdd;
    color: #666;
    padding: .4em .75em .5em .75em;
    border-top: .1em solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#debug h5 {
    margin: 0;
    font-size: 1.1em;
    color: #a3a39a;
}
#debug h5 .sub {
    color: #b3b3aa;
}
#debug ol.queries li {
    margin: 0 0 1em;
}
#debug pre {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 .5em;
    xoverflow-x: scroll;
    word-wrap: break-word;
}
#debug .toggle {
    font-weight: bold;
    color: #666;
    float: right;
}
