{% extends "layouts/extend.twig" %}

{% block crumb %}
<a href="{% url "/extend" %}">Extend</a> &raquo;
New Extension
{% endblock %}

{% block content %}
<h1>New ${ type.name | capitalize }</h1>
<form action="{% url "new_extension/" ~ type.textID %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <fieldset>
        <p class="sub">
            Note: You are adding the <em>initial</em> version of this extension. If you want to add a new version of an extension you've already added, please do so from the extension's page. Adding from here will result in another extension.</p>
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" value="${ POST.name | escape }" id="name" />
        </p>
        <p>
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="8" cols="100%">${ POST.description | escape }</textarea>
        </p>
        <div id="attachments">
            <label for="attachment">Attachment(s)</label>

            <div class="fields">
                <input type="file" name="attachment[]" /> <a href="javascript:void(0)" onclick="$$('#attachments .fields').append('<br /><input type=\'file\' name=\'attachment[]\' />'); return false;">[+]</a>
            </div>
        </div>
        <p>
            <label for="number">Version Number</label>
            <input type="text" name="number" value="${ POST.number | escape }" id="number" size="4" />
        </p>
        <p>
            <label for="compatible">Chyrp Compatibility</label>
            <input type="text" name="compatible" value="${ POST.compatible | escape }" id="compatible" />
            <br />
            <span class="sub">Version numbers, comma-separated.</span>
        </p>
        <p>
            <label for="extension">${ type.name | capitalize }</label>
            <input type="file" name="extension" id="extension" />
            <br />
            <span class="sub">.zip files only.</span>
        </p>
        <p>
            <label for="image">Preview Image</label>
            <input type="file" name="image" id="image" />
        </p>
        <p>
            <label for="tags">Tags <span class="sub">(recommended)</span></label>
            <input type="text" name="tags" value="${ POST.tags | escape }" id="tags" />
            <br />
            <span class="sub">Comma-seperated.</span>
        </p>

        <p><input type="submit" value="Continue &rarr;"></p>

        <input type="hidden" name="type_id" value="$type.id" id="type_id" />
    </fieldset>
</form>
{% endblock %}

