{% extends "layouts/extend.twig" %}

{% block crumb %}
<a href="{% url "/extend" %}">Extend</a> &raquo;
Tag
{% endblock %}

{% block content %}
{% if versions.paginated %}
<h1>$title</h1>
{% for ver in versions.paginated %}
{% include "partials/version.twig" %}
{% endfor %}

{% if versions.pages > 1 %}
<div class="pagination">
    $versions.prev_link
    $versions.next_link
    <span class="nums sub">
        Page <strong>$versions.page</strong> of <strong>$versions.pages</strong>
    </span>
</div>
{% endif %}
{% else %}
<h1>${ "No Results" | translate }</h1>
<p>${ "There are no versions tagged with \"%s\"." | translate | format(tag) }</p>
{% endif %}
{% endblock %}
