{% extends "layouts/extend.twig" %}

{% block content %}
<h1>Are you sure you want to delete version $ver.number of $ver.extension.name?</h1>
{% if ver.extension.deletable %}
<p class="sub">Or did you want to ${ ver.extension.delete_link("delete the entire extension") }?</p>
<br />
{% endif %}
<form action="{% url "destroy_version" %}" method="post" accept-charset="utf-8">
    <fieldset>
        <h2>Excerpt</h2>
        ${ ver.description | truncate(500) }

        <p><input type="submit" value="Yes, I'm sure." /></p> or <a href="$ver.url">Cancel</a>

        <input type="hidden" name="version_id" value="$ver.id" id="version_id" />
    </fieldset>
</form>
{% endblock %}
