{% extends "layouts/default.twig" %}

{% block content %}
<h1>What in the blue blazes is Chyrp?</h1>
<p class="blurb">
    Chyrp is a blogging engine designed to be very lightweight while retaining functionality. It is driven by PHP and MySQL (with some AJAX thrown in), and has a pimpin’ theme and module engine, so you can personalize it however you want.
</p>
{% endblock %}
