{% extends "layouts/default.twig" %}

{% block content %}
<h1>What in the blue blazes is Chyrp?</h1>
<p class="blurb">
    Chyrp is a blogging engine designed to be very lightweight while retaining functionality. It is driven by <strong>PHP</strong> and <strong>MySQL</strong> and has very powerful theme and extension systems, so you can personalize it however you want. There are many things special about Chyrp, but the best way to describe it is to just have you try it yourself by clicking this oversized button:
</p>
<a class="big giant colorize" href="{% url "/demos" %}">Try it out!</a>
{% endblock %}
