{% extends "layouts/progress.twig" %}

{% block content %}
<h1>Are you sure you want to delete this ticket?</h1>
<form action="{% url "progress/destroy_ticket" %}" method="post" accept-charset="utf-8">
    <fieldset>
        <h3>Title</h3>
        ${ ticket.title | escape }

        <h3>Description</h3>
        ${ ticket.description | truncate(500) }

        <p><input type="submit" value="Continue &rarr;" /></p> or <a href="$ticket.url">Cancel</a>

        <input type="hidden" name="ticket_id" value="$ticket.id" id="ticket_id" />
    </fieldset>
</form>
{% endblock %}
