{% extends "layouts/progress.twig" %}

{% block crumb %}
<a href="{% url "/progress" %}">Progress</a> &raquo;
<a href="$ticket.milestone.url">$ticket.milestone.name</a> &raquo;
$ticket.title &ndash; $ticket.edit_link $ticket.delete_link
{% endblock %}

{% block content %}
<div class="ticket">
    <h1>
        <span class="number">#${ ticket.id }</span>
        $ticket.title
    </h1>
    <div class="description">
        <div class="user-info">
            <img src="$ticket.user.gravatar?s=64&amp;d=identicon" alt="Gravatar" />
            <span class="name">${ ticket.user.full_name | fallback(ticket.user.login) }</span>
        </div>

        $ticket.description

        {% if ticket.attachments %}
        <div class="attachments">
            <h5>Attachments</h5>
            <ul>
                {% for attachment in ticket.attachments %}
                <li>
                    $attachment.thumbnail
                    <a href="${ attachment.path | uploaded }">$attachment.filename</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="clear"></div>
    </div>
</div>

{% if ticket.revisions %}
<ul class="revisions">
    {% paginate 25 revisions in ticket.revisions as revision %}
    <li class="revision" id="revision_$revision.id">
        <div class="user">
            {% if revision.editable or revision.deletable %}
            <span class="right">
                ${ revision.edit_link("edit") }
                ${ revision.delete_link("delete") }
            </span>
            {% endif %}
            <img src="$revision.user.gravatar?s=16&amp;d=identicon" class="gravatar-emblem" alt="Gravatar" />
            <span class="name">$revision.user.login</span>
        </div>

        <ul class="changes">
            {% for name, change in revision.changes | items %}
            <li class="{% if loop.index | odd %}odd{% else %}even{% endif %}">
                <strong>$name</strong> changed from "<code>$change.from</code>" to "<code>$change.to</code>"
            </li>
            {% endfor %}
        </ul>

        <div class="body">
            $revision.body
        </div>

        {% if revision.attachments %}
        <div class="attachments">
            <h5>Attachments</h5>
            <ul>
                {% for attachment in revision.attachments %}
                <li>
                    $attachment.thumbnail
                    <a href="${ attachment.path | uploaded }">$attachment.filename</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
    {% endpaginate %}
</ul>
{% endif %}

${ revisions.next_link }
${ revisions.prev_link }

{% if visitor.group.can("add_revision") %}
<br />
<br />
<h2>Revise Ticket</h2>

<form action="{% url "add_revision" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <fieldset>
        {% if ticket.editable %}
        <p>
            <label for="title">Ticket Title</label>
            <input type="text" name="title" value="${ ticket.title | escape }" id="title" />
        </p>
        {% endif %}

        <p>
            <label for="body">Message</label>
            <textarea name="body" rows="8" cols="100%"></textarea>
        </p>

        {% if ticket.editable %}
        <p>
            <label for="owner_id">Ticket Owner</label>
            <select name="owner_id" id="owner_id">
                <option value="0"></option>
                {% for user in users %}
                <option value="$user.id"${ user.id | option_selected(ticket.owner_id) }>${ (user.full_name | fallback(user.login)) | escape }</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="milestone_id">Ticket Milestone</label>
            <select name="milestone_id" id="milestone_id">
                <option value="0"></option>
                {% for milestone in milestones %}
                <option value="$milestone.id"${ milestone.id | option_selected(ticket.milestone_id) }>${ milestone.name | escape }</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="state">Ticket State</label>
            <select name="state" id="state">
                <option value="new"${ ticket.state | option_selected("new") }>new</option>
                <option value="open"${ ticket.state | option_selected("open") }>open</option>
                <option value="resolved"${ ticket.state | option_selected("resolved") }>resolved</option>
                <option value="invalid"${ ticket.state | option_selected("invalid") }>invalid</option>
                <option value="declined"${ ticket.state | option_selected("declined") }>declined</option>
            </select>
        </p>
        {% endif %}

        <div id="attachments">
            <label for="attachment">Attachment(s)</label>
            <div class="fields">
                <input type="file" name="attachment[]" /> <a href="javascript:void(0)" onclick="$$('#attachments .fields').append('<br /><input type=\'file\' name=\'attachment[]\' />')">[+]</a>
            </div>
        </div>

        <p><input type="submit" value="Continue &rarr;"></p>

        <input type="hidden" name="ticket_id" value="$ticket.id" id="ticket_id" />
    </fieldset>
</form>
{% endif %}
{% endblock %}
