{% extends "layouts/bbs.twig" %}

{% block content %}
<h1>$topic.title $topic.edit_link $topic.delete_link</h1>
<p>$topic.description</p>
<h2>Messages</h2>
<ul>
    {% for message in topic.messages(25).paginated %}
    <li>
        <strong>$message.user.login</strong>:
        <p>$message.body</p>
        $message.edit_link $message.delete_link
    </li>
    {% else %}
    <li>(none)</li>
    {% endfor %}
</ul>

${ topic.messages(25).next_link }
${ topic.messages(25).prev_link }

<br />
<br />
{% if visitor.group.can("add_message") %}
<form action="{% url "bbs/add_message" %}" method="post" accept-charset="utf-8">
    <textarea name="body" rows="8" cols="100%"></textarea>

    <p><input type="submit" value="Continue &rarr;"></p>

    <input type="hidden" name="topic_id" value="$topic.id" id="topic_id" />
</form>
{% endif %}
{% endblock %}