{% extends "layouts/bbs.twig" %}

{% block content %}
<h1>$forum.name</h1>
<h2>Topics</h2>
<ul>
    {% for topic in forum.topics(25).paginated %}
    <li>
        <a href="$topic.url">$topic.title</a>
        <p>$topic.description</p>
    </li>
    {% else %}
    <li>(none)</li>
    {% endfor %}
</ul>

${ forum.topics(25).next_link }
${ forum.topics(25).prev_link }

<br />
<br />
{% if visitor.group.can("add_topic") %}
<form action="{% url "bbs/add_topic" %}" method="post" accept-charset="utf-8">
    <label for="title">Title</label>
    <input type="text" name="title" value="" id="title" />
    
    <label for="title">Description</label>
    <textarea name="description" rows="8" cols="100%"></textarea>

    <p><input type="submit" value="Continue &rarr;"></p>

    <input type="hidden" name="forum_id" value="$forum.id" id="topic_id" />
</form>
{% endif %}
{% endblock %}