<div class="extension">
    <h1 style="background-color: #$extension.type.color">
        <span class="version">$extension.latest_version.number</span>
        <strong><a href="$extension.url">$extension.name</a></strong>
        <span class="author">by <strong>${ extension.user.full_name | fallback(extension.user.login) }</strong></span>
    </h1>
    <div class="content">
        <ul class="info">
            ${ extension.latest_version.delete_link("delete", '<li class="right">', '</li>') }
            ${ extension.latest_version.edit_link("edit", '<li class="right">', '</li>') }
            <li>Compatible with: <strong>${ extension.latest_version.compatible | join("</strong>, <strong>") }</strong></li>
            <li>Loves: <strong>$extension.latest_version.loves</strong></li>
            <li>Downloads: <strong>$extension.latest_version.downloads</strong></li>
            <li>Notes: <strong>$extension.latest_version.note_count</strong></li>
            <li>Last updated: <strong>${ extension.latest_version.updated_at | fallback(extension.latest_version.created_at) | relative }</strong></li>
        </ul>
        <a class="preview" href="${ extension.latest_version.image | uploaded }" style="background-image: url('${ extension.latest_version.image | uploaded }')"></a>
        $extension.latest_version.description
        <div class="clear"></div>
        <div class="buttons">
            <a class="colorize button" href="{% url "download/" ~ extension.textID ~ "/" ~ extension.latest_version.id %}">Download</a>
            <a class="colorize button" href="{% url "love/" ~ extension.textID ~ "/" ~ extension.latest_version.id %}">Love</a>
            <span class="tags">Tags: ${ extension.latest_version.linked_tags | join(", ") | fallback("<span class=\"sub\">(none)</span>") }</span>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
