<div id="message_$message.id" class="post">
    <div class="details">
        <h3>
            <img class="gravatar-emblem" src="$message.user.gravatar?s=24&amp;d=identicon" alt="Gravatar" />
            $message.user.login
        </h3>
        <ul>
            <li><strong>Posts:</strong> $message.user.message_count</li>
            <li><strong>Created:</strong> <abbr class="relatize">${ message.created_at | strftime("%c %z") }</abbr></li>
            {% if message.updated %}
            <li><strong>Updated:</strong> <abbr class="relatize">${ message.updated_at | strftime("%c %z") }</abbr></li>
            {% endif %}
            <li><strong>{% if route.action == "topic" %}Permalink{% else %}Context{% endif %}:</strong> <a href="${ message.url(true) }">$message.topic.title</a></li>
        </ul>
        {% if message.editable or message.deletable %}
        <ul class="controls">
            {% if message.editable %}
            <li>$message.edit_link</li>
            {% endif %}
            {% if message.deletable %}
            <li>$message.delete_link</li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="message">
        $message.body

        {% if message.attachments %}
        <div class="attachments">
            <h5>Attachments</h5>
            <ul>
                {% for attachment in message.attachments %}
                <li>
                    $attachment.thumbnail
                    <a href="${ attachment.path | uploaded }">$attachment.filename</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>

