{% extends "layout.twig" %}

{% block title %}${ "Edit Milestone" | translate("progress") }{% endblock %}

{% block content %}
            ${ milestone.delete_link('<img src="images/icons/delete.png" alt="delete" />'~ ("Delete" | translate), null, null, "button boo right") }
            <h1>${ "Edit Milestone &#8220;%s&#8221;" | translate("progress") | format(milestone.name) }</h1>
            <form id="edit_milestone" class="split" action="{% admin "update_milestone" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <fieldset>
                    <p>
                        <label for="name">${ "Name" | translate("progress") }</label>
                        <input class="text" type="text" name="name" value="${ milestone.name | escape }" id="name" />
                    </p>
                    <p>
                        <label for="description">${ "Description" | translate("progress") }</label>
                        <textarea class="description" name="description" rows="9" cols="50" id="description">${ milestone.description | escape }</textarea>
                    </p>
                    <p>
                        <label for="due">${ "Due" | translate("progress") }</label>
                        <input class="text code" type="text" name="due" value="${ milestone.due | strftime }" id="due" />
                        <span class="sub">(<a href="http://php.net/strtotime">strtotime</a>-compatible)</span>
                    </p>

                    <br />

                    <p>
                        <button type="submit" class="yay"><img src="images/icons/success.png" alt="success" />${ "Update" | translate }</button>
                    </p>

                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
                    <input type="hidden" name="milestone_id" value="$milestone.id" id="hash" />
                </fieldset>
            </form>
{% endblock %}
