{% extends "layouts/discuss.twig" %}

{% block content %}
<h1>$forum.name</h1>
    {% paginate topic in 25 forum.topics as topics %}
    <div class="topic">
        <div class="title">
            <h2><a href="$topic.url">${ topic.title | escape }</a></h2>
            <strong>by <a href="$topic.user.url">$topic.user.login</a></strong>
        </div>
        <div class="info">
            <h4>Last Message</h4>
            <ul class="content">
                {% if topic.last_message %}
                <li><a href="$forum.latest_message.url" title="${ topic.latest_message.created_at | relative }">${ topic.latest_message.created_at | relative }</a></li>
                <li>by <a href="$topic.latest_message.user.url">$topic.latest_message.user.login</a></li>
                {% else %}
                <li>never</li>
                {% endif %}
            </ul>
        </div>
        <div class="info">
            <h4>Statistics</h4>
            <ul class="content">
                <li>Messages: <strong>$topic.message_count</strong></li>
                <li>Views: <strong>$topic.view_count</strong></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    {% else %}
    <li>(none)</li>
    {% endpaginate %}

${ topics.next_link }
${ topics.prev_link }

<br />
<br />
{% if visitor.group.can("add_topic") %}
<h1>New Topic</h1>
<form action="{% url "add_topic" %}" method="post" accept-charset="utf-8">
    <p>
        <label for="title">Title</label>
        <input type="text" name="title" value="" id="title" />
    </p>
    
    <p>
        <label for="title">Description</label>
        <textarea name="description" rows="10" cols="75"></textarea>
    </p>

    <p>
        <input type="submit" value="Continue &rarr;">
    </p>

    <input type="hidden" name="forum_id" value="$forum.id" id="topic_id" />
</form>
{% endif %}
{% endblock %}
