{% extends "layouts/discuss.twig" %}

{% block crumb %}
<a href="{% url "/discuss" %}">Discuss</a> &raquo;
Search
{% endblock %}

{% block content %}
{% if forums.paginated or topics.paginated or messages.paginated %}
    <h1>${ "Search results for &#8220;%s&#8221;" | translate | format(search | escape) }</h1>

    {% if forums.paginated %}
    <h2>Forums</h2>
    {% for forum in forums.paginated %}
    {% include "partials/forum.twig" %}
    {% endfor %}
    <div class="clear"></div>

    {% if forums.pages > 1 %}
    <div class="pagination">
        $forums.prev_link
        $forums.next_link
        <span class="nums sub">
            Page <strong>$forums.page</strong> of <strong>$forums.pages</strong>
        </span>
    </div>
    {% endif %}
    {% endif %}

    {% if topics.paginated %}
    {% if forums.paginated %}
    <br />
    {% endif %}
    <h2>Topics</h2>
    {% for topic in topics.paginated %}
    {% include "partials/topic.twig" %}
    {% endfor %}

    {% if topics.pages > 1 %}
    <div class="pagination">
        $topics.prev_link
        $topics.next_link
        <span class="nums sub">
            Page <strong>$topics.page</strong> of <strong>$topics.pages</strong>
        </span>
    </div>
    {% endif %}
    {% endif %}

    {% if messages.paginated %}
    {% if topics.paginated %}
    <br />
    <br />
    {% elseif forums.paginated %}
    <br />
    {% endif %}
    <h2>Messages</h2>
    {% for message in messages.paginated %}
    {% include "partials/message.twig" %}
    {% endfor %}

    {% if messages.pages > 1 %}
    <div class="pagination">
        $messages.prev_link
        $messages.next_link
        <span class="nums sub">
            Page <strong>$messages.page</strong> of <strong>$messages.pages</strong>
        </span>
    </div>
    {% endif %}
    {% endif %}
{% else %}
    <h1>${ "No Results" | translate }</h1>
    <p>${ "Your search did not return any results." | translate }</p>
{% endif %}
{% endblock %}
