{% extends "layouts/progress.twig" %}

{% block content %}
<h1>$milestone.name $milestone.edit_link $milestone.delete_link</h1>
<h2>Tickets</h2>
<table width="100%">
    <tr>
        <th>#</th>
        <th>State</th>
        <th>Summary</th>
        <th>Assigned to</th>
        <th>Age</th>
    </tr>
    {% paginate ticket in 25 milestone.tickets as tickets %}
    <tr>
        <td>$ticket.id</td>
        <td>{% if ticket.done %}&radic; {% endif %}$ticket.state</td>
        <td>
            <a href="$ticket.url">
                {% if ticket.done %}<s>{% endif %}
                    ${ ticket.title | escape }
                {% if ticket.done %}</s>{% endif %}
            </a>
        </td>
        <td>${ ticket.owner.full_name | fallback(ticket.owner.login) }</td>
        <td>${ ticket.last_activity | relative | replace(" ago", " old") }</td>
    </tr>
    {% else %}
    <tr><td colspan="4">(none)</li>
    {% endpaginate %}
</table>

${ tickets.next_link }
${ tickets.prev_link }

<br />
<br />
{% if visitor.group.can("add_ticket") %}
<h3>New Ticket</h3>
<form action="{% url "add_ticket" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <fieldset>
        <p>
            <label for="title">Title</label>
            <input type="text" name="title" value="" id="title" />
        </p>
        <p>
            <label for="title">Description</label>
            <textarea name="description" rows="8" cols="100%"></textarea>
        </p>
        <p>
            <label for="owner_id">Ticket Owner</label>
            <select name="owner_id" id="owner_id">
                <option value="0"></option>
                {% for user in users %}
                <option value="$user.id">${ user.full_name | fallback(user.login) | escape }</option>
                {% endfor %}
            </select>
        </p>
        <div id="attachments">
            <label for="attachment">Attachment(s)</label>

            <div class="fields">
                <input type="file" name="attachment[]" /> <a href="javascript:void(0)" onclick="$$('#attachments .fields').append('<br /><input type=\'file\' name=\'attachment[]\' />'); return false;">[+]</a>
            </div>
        </div>

        <p><input type="submit" value="Continue &rarr;"></p>

        <input type="hidden" name="milestone_id" value="$milestone.id" id="milestone_id" />
    </fieldset>
</form>
{% endif %}
{% endblock %}
