{% extends "layouts/progress.twig" %}

{% block crumb %}
<a href="{% url "/progress" %}">Progress</a> &raquo;
$milestone.name $milestone.edit_link $milestone.delete_link
{% endblock %}

{% block content %}
<h1>$milestone.name</h1>
<table class="tickets">
    <tr>
        <th width="3%"></th>
        <th width="10%">State</th>
        <th width="55%">Summary</th>
        <th width="17%">Assigned to</th>
        <th width="15%">Age</th>
    </tr>
    {% paginate 25 tickets in milestone.tickets as ticket %}
    <tr class="{% if loop.index | even %}even{% else %}odd{% endif %}">
        <td class="center">#$ticket.id</td>
        <td><span class="$ticket.state">{% if ticket.done %}&radic; {% endif %}$ticket.state</span></td>
        <td class="main">
            <a href="$ticket.url">
                {% if ticket.done %}<del>{% endif %}
                    ${ ticket.title | escape }
                {% if ticket.done %}</del>{% endif %}
            </a>
        </td>
        <td>
            <img class="gravatar-emblem" src="$ticket.owner.gravatar?s=16&amp;d=identicon" alt="Gravatar" />
            ${ ticket.owner.full_name | fallback(ticket.owner.login) }
        </td>
        <td>${ ticket.last_activity | relative | replace(" ago", " old") }</td>
    </tr>
    {% else %}
    <tr><td colspan="4">(none)</li>
    {% endpaginate %}
</table>

${ tickets.next_link }
${ tickets.prev_link }

{% if visitor.group.can("add_ticket") %}
<br />
<br />
<h1>New Ticket</h1>
<form action="{% url "add_ticket" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <fieldset>
        <p>
            <label for="title">Summary</label>
            <input type="text" name="title" value="" id="title" />
        </p>
        <p>
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="8" cols="100%"></textarea>
        </p>
        <p>
            <label for="owner_id">Ticket Owner</label>
            <select name="owner_id" id="owner_id">
                <option value="0"></option>
                {% for user in users %}
                <option value="$user.id">${ user.full_name | fallback(user.login) | escape }</option>
                {% endfor %}
            </select>
        </p>
        <div id="attachments">
            <label for="attachment">Attachment(s)</label>

            <div class="fields">
                <input type="file" name="attachment[]" /> <a href="javascript:void(0)" onclick="$$('#attachments .fields').append('<br /><input type=\'file\' name=\'attachment[]\' />'); return false;">[+]</a>
            </div>
        </div>

        <p><input type="submit" value="Continue &rarr;"></p>

        <input type="hidden" name="milestone_id" value="$milestone.id" id="milestone_id" />
    </fieldset>
</form>
{% endif %}
{% endblock %}
