{% extends "layouts/progress.twig" %}

{% block crumb %}
<a href="{% url "/progress" %}">Progress</a> &raquo;
Search
{% endblock %}

{% block content %}
{% if tickets.paginated or revisions.paginated or milestones.paginated %}
    <h1>${ "Search results for &#8220;%s&#8221;" | translate | format(search | escape) }</h1>
    {% if tickets.paginated %}
    <h2>Tickets</h2>
    <table class="tickets">
        <tr>
            <th width="3%"></th>
            <th width="10%">State</th>
            <th width="55%">Summary</th>
            <th width="17%">Assigned to</th>
            <th width="15%">Age</th>
        </tr>
        {% for ticket in tickets.paginated %}
        {% include "partials/ticket.twig" %}
        {% endfor %}
    </table>

    {% if tickets.pages > 1 %}
    <div class="pagination">
        $tickets.prev_link
        $tickets.next_link
        <span class="nums sub">
            Page <strong>$tickets.page</strong> of <strong>$tickets.pages</strong>
        </span>
    </div>
    {% endif %}
    {% endif %}

    {% if revisions.paginated %}
    <h2>Revisions</h2>
    <ul class="revisions">
        {% for revision in revisions.paginated %}
        {% include "partials/revision.twig" %}
        {% endfor %}
    </ul>

    {% if revisions.pages > 1 %}
    <div class="pagination">
        $revisions.prev_link
        $revisions.next_link
        <span class="nums sub">
            Page <strong>$revisions.page</strong> of <strong>$revisions.pages</strong>
        </span>
    </div>
    {% endif %}
    {% endif %}

    {% if milestones.paginated %}
    <h2>Milestones</h2>
    {% for milestone in milestones.paginated %}
    {% include "partials/milestone.twig" %}
    {% endfor %}

    {% if milestones.pages > 1 %}
    <div class="pagination">
        $milestones.prev_link
        $milestones.next_link
        <span class="nums sub">
            Page <strong>$milestones.page</strong> of <strong>$milestones.pages</strong>
        </span>
    </div>
    {% endif %}
    {% endif %}
{% else %}
    <h1>${ "No Results" | translate }</h1>
    <p>${ "Your search did not return any results." | translate }</p>
{% endif %}
{% endblock %}
